@font-face {
    font-family: "audimat_italic";
    src: url('../fonts/audimat-italic-webfont.eot');
    src: url('../fonts/audimat-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/audimat-italic-webfont.woff') format('woff'),
         url('../fonts/audimat-italic-webfont.ttf') format('truetype'),
         url('../fonts/audimat-italic-webfont.svg#audimatitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "audimat_regular";
    src: url('../fonts/audimat-regular-webfont.eot');
    src: url('../fonts/audimat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/audimat-regular-webfont.woff') format('woff'),
         url('../fonts/audimat-regular-webfont.ttf') format('truetype'),
         url('../fonts/audimat-regular-webfont.svg#audimatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "smartrocket_font";
    src: url('../fonts/londrinasolid-regular-webfont.eot');
    src: url('../fonts/londrinasolid-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/londrinasolid-regular-webfont.woff') format('woff'),
         url('../fonts/londrinasolid-regular-webfont.ttf') format('truetype'),
         url('../fonts/londrinasolid-regular-webfont.svg#londrina_solidregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.audimat_italic{
  font-family: "audimat_italic"; /* no .ttf */
  line-height:100%;
  display:block;
}

.audimat_regular{
  font-family: "audimat_regular"; /* no .ttf */
  line-height:100%;
  display:block;
}

.smartrocket_font{
  font-family: "smartrocket_font"; /* no .ttf */
  line-height:100%;
  display: block;
}

.subtitle{
  font-size: 25px;
}

.circles{
  display: inline-table;
  width:100%;
  text-align: center;
}
.circle-container{
  display: inline-table; 
  #position: relative; 
  overflow: hidden; 
  #top:50%; 
  vertical-align: middle;
  margin: 0 auto;
}

.circle {
    width:230px;
    height: 230px;
    background-image: url('../img/circles.png');
    background-repeat: no-repeat center;
    margin: 0px;
    vertical-align: middle;
}

.circle span {
  display:none;
}

.circle label {
  text-align: center; 
  font-family: smartrocket_font;
  font-size: 20px;
  width:100%;

}

.circle:hover{
    background-image: url('../img/circles.png');
    background-position: 0px -230px;
    text-align: center;
}

.circle:hover span {
  display:block;
  color:gray;
}
.circle-inner-text{
  #position: relative; 
  #top: -50%
}
.container {

    margin: 0 auto;
    max-width: 1000px;
}

.spaceship_bottom {
  height:1000px;
  width:1500px;
  background-image: url('../img/spaceship_bottom.png');
  background-repeat: no-repeat;
}

.big{
  font-size: 500%; 
  line-height:100%;
  width:100%;
}

.normal{
  font-size: 130%; 
  line-height:100%;
  width:100%;
}

.triangle-up{
  width:100%;
  height: 200px;
  background-image: url('../img/triangle.png');
  
  background-repeat: no-repeat;
}

#simple-menu{
  position:fixed; 
  right:2%; 
  top: 10%;
  font-size: 18px; 
  font-weight:bold; 
  cursor:pointer; 
  background-color: #fff; 
  box-shadow: 0px 1px 10px #555;
  padding:8px 10px;
  border-radius: 6px;
  z-index: 10;
}

#nave-inicio {
  position:relative;
  margin-top: -50px;
  margin-left: -280px;
  width: 200px;
  z-index: 1;
}

.main-container-div{
  margin-bottom: 300px;
  display:block;
  width: 100%;
  text-align:center;
}

.container{
  width:960px;
}


.facebook-icon {
  width:77px;
  height: 77px;
  background-image: url('../img/social_icons.png');
  background-position: 0px -78px;
  background-repeat:no-repeat;
  display: inline-block;

  margin:10px;
}

.facebook-icon:hover{
  background-position: 0px 0px;
  background-repeat:no-repeat;
}

.twitter-icon {
  width:77px;
  height: 77px;
  background-image: url('../img/social_icons.png');
  background-position: -78px -78px;
  background-repeat:no-repeat;

  display: inline-block;
  margin:10px;
}

.twitter-icon:hover{
  background-position: -78px 0px;
  background-repeat:no-repeat;
}

/*Shows up when screen resolution is below 960px*/
.showable{
  display:none;
}

.overlay {
  display:none;
  position:fixed; 
  top:0px; 
  left:0px; 
  width:100%; 
  height:100%;
  background-color: white; 
  z-index: 999998; 
  filter:alpha(opacity=50); 
  -moz-opacity:0.5; 
  -khtml-opacity: 0.5; 
  opacity: 0.5; 
}
.overlay_inner{
  position:fixed;
  margin: 0 auto; 
  width: 100px; 
  height:100px; 
  left:50%; 
  top:50%; 
  z-index: 999999; 
  margin-left:-50px; 
  margin-top:-50px; 
  background-image:url('../img/ajax_loader.gif');
}  