@font-face {
  font-family: audimat_italic;
  src: url('../fonts/webfontkit/audimat-italic-webfont.ttf');
}

@font-face {
  font-family: audimat_regular;
  src: url('../fonts/webfontkit/audimat-regular-webfont.ttf');
}

@font-face {
  font-family: smartrocket_font;
  src: url('../fonts/LondrinaSolid-Regular.otf');
}


.audimat_italic{
  font-family: audimat_italic; /* no .ttf */
  
}

.audimat_regular{
  font-family: audimat_regular; /* no .ttf */
  
}

.smartrocket_font{
  font-family: smartrocket_font; /* no .ttf */
  

}

.circle-container{
  display: inline-table; 
  #position: relative; 
  overflow: hidden; 
  #top:50%; 
  vertical-align: middle;
  margin: 0 auto;
}

.circle {
    width:230px;
    height: 230px;
    background-image: url('../img/circle_small.png');
    background-repeat: no-repeat center;
    margin: 0px;
    vertical-align: middle;
}

.circle span {
  display:none;
}

.circle label {
  text-align: center; 
  font-family: smartrocket_font;
  font-size: 20px;
  width:100%;

}

.circle:hover{
    background-image: url('../img/circle_big.png');
    text-align: center;
}

.circle:hover span {
  display:block;
  color:gray;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.spaceship_bottom {
  height:1000px;
  width:1500px;
  background-image: url('../img/spaceship_bottom.png');
  background-repeat: no-repeat;
}

.big{
  font-size: 500%; 
  line-height:100%;
  width:100%;
}

.normal{
  font-size: 130%; 
  line-height:100%;
  width:100%;
}

.triangle-up{
  width:100%;
  height: 200px;
  background-image: url('../img/triangle.png');
  
  background-repeat: no-repeat;
}

body{ 
  /*height: 2800px;*/
}