@font-face {
  font-family: audimat_italic;
  src: url('../fonts/webfontkit/audimat-italic-webfont.ttf');
}

@font-face {
  font-family: audimat_regular;
  src: url('../fonts/webfontkit/audimat-regular-webfont.ttf');
}

@font-face {
  font-family: smartrocket_font;
  src: url('../fonts/LondrinaSolid-Regular.otf');
}


.audimat_italic{
  font-family: audimat_italic; /* no .ttf */
  line-height:100%;
  display:block;
}

.audimat_regular{
  font-family: audimat_regular; /* no .ttf */
  line-height:100%;
  display:block;
}

.smartrocket_font{
  font-family: smartrocket_font; /* no .ttf */
  line-height:100%;
  display: block;
}

.subtitle{
  font-size: 25px;
}

.circles{
  display: inline-table;
  width:100%;
  text-align: center;
}
.circle-container{
  display: inline-table; 
  #position: relative; 
  overflow: hidden; 
  #top:50%; 
  vertical-align: middle;
  margin: 0 auto;
}

.circle {
    width:230px;
    height: 230px;
    background-image: url('../img/circles.png');
    background-repeat: no-repeat center;
    margin: 0px;
    vertical-align: middle;
}

.circle span {
  display:none;
}

.circle label {
  text-align: center; 
  font-family: smartrocket_font;
  font-size: 20px;
  width:100%;

}

.circle:hover{
    background-image: url('../img/circles.png');
    background-position: 0px -230px;
    text-align: center;
}

.circle:hover span {
  display:block;
  color:gray;
}
.circle-inner-text{
  #position: relative; 
  #top: -50%
}
.container {

    margin: 0 auto;
    max-width: 1000px;
}

.spaceship_bottom {
  height:1000px;
  width:1500px;
  background-image: url('../img/spaceship_bottom.png');
  background-repeat: no-repeat;
}

.big{
  font-size: 500%; 
  line-height:100%;
  width:100%;
}

.normal{
  font-size: 130%; 
  line-height:100%;
  width:100%;
}

.triangle-up{
  width:100%;
  height: 200px;
  background-image: url('../img/triangle.png');
  
  background-repeat: no-repeat;
}

#simple-menu{
  position:fixed; 
  right:2%; 
  top: 10%;
  font-size: 18px; 
  font-weight:bold; 
  cursor:pointer; 
  background-color: #fff; 
  box-shadow: 0px 1px 10px #555;
  padding:8px 10px;
  border-radius: 6px;
}

.main-container-div{
  margin-bottom: 300px;
  display:block;
  width: 100%;
  text-align:center;
}

.container{
  width:960px;
}


.facebook-icon {
  width:78px;
  height: 78px;
  background-image: url('../img/social_icons.png');
  background-position: 0px -75px;
  display: inline-block;
  margin:10px;
}

.facebook-icon:hover{
  background-position: 0px 0px;
}

.twitter-icon {
  width:78px;
  height: 78px;
  background-image: url('../img/social_icons.png');
  background-position: -77px -75px;

  display: inline-block;
  margin:10px;
}

.twitter-icon:hover{
  background-position: -77px 0px;
}

/*Shows up when screen resolution is below 960px*/
.showable{
  display:none;
}


