#first-triangle {
  
  margin-left: -160px;
  margin-top: 150px;
  
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);

  width: 0; 
  height: 0; 
  border-left: 400px solid transparent;
  border-right: 600px solid transparent;
  border-bottom: 750px solid black;
}

#second-triangle {
  width: 0; 
  height: 0; 
  
  border-top: 1400px solid transparent;
  border-bottom: 1400px solid transparent; 
  border-right:4200px solid black;
}

.arrow-left {
  width: 0; 
  height: 0; 
   
}


.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 600px solid transparent;
  border-right: 600px solid transparent;
  border-top: 600px solid gray;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid green;
}

