#first-triangle {
  
  margin-left: -330px;
  margin-top: -90px;
  
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);

  width: 0; 
  height: 0; 
  border-left: 500px solid transparent;
  border-right: 500px solid transparent;
  border-bottom: 750px solid black;
  z-index: -1;
  overflow-y: hidden;
  overflow-x: hidden;
  position:relative;
}

.small-triangle {
  z-index:9;
}

#small-first-triangle {
  top:250px;
  right:100px;
  /*z-index:9;*/

  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);  
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 75px solid black;
  width: 0; 
  height: 0; 
  overflow-y: hidden;
  overflow-x: hidden;
  position:relative;
}

#small-second-triangle {
  /*top:100px;
  right:-1100px;*/

  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);  
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 75px solid black;
  width: 0; 
  height: 0; 
  overflow-y: hidden;
  overflow-x: hidden;
  position:relative;
}

#small-third-triangle {
  top:100px;
  right:100px;

  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);  
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 75px solid white;
  width: 0; 
  height: 0; 
  overflow-y: hidden;
  overflow-x: hidden;
  position:relative;
}

#small-fourth-triangle {
  top:700px;
  right:-800px;

  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -ms-transform: rotate(60deg);  
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 125px solid white;
  width: 0; 
  height: 0; 
  overflow-y: hidden;
  overflow-x: hidden;
  position:relative;
}

#second-triangle {
  width: 0; 
  height: 0; 
  
  border-top: 1400px solid transparent;
  border-bottom: 1400px solid transparent; 
  border-right:4200px solid black;
}

.arrow-left {
  width: 0; 
  height: 0; 
   
}


.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 600px solid transparent;
  border-right: 600px solid transparent;
  border-top: 600px solid gray;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid green;
}

